.App {
  margin: 0 auto;
}

.center {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo-img {
  width: 140px;
  margin-right: -10px;
  margin-left: 8px;
  mix-blend-mode: multiply;
}

.logo {
  font-family: "Bernard MT Condensed", serif;
  font-size: 80px;
  line-height: 75px;
  font-weight: 400;
  color: #1C0000;
  margin-top: -20px;
  margin-bottom: 10px;
}

.text-near-logo {
  font-family: "Chathura", serif;
  font-size: 50px;
  font-weight: 800;
  color: #D3A10D;
}

.text-next-to-logo {
  padding-top: 55px;
}

.text-below-logo {
  margin-top: -28px;
}

.background {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  left: 0px;
  top: 0px;
  background: url(img/fondo.png) #EEE3C6 no-repeat center center fixed;
  mix-blend-mode: multiply;
  padding: 30px 0;
  min-height: 100vh;
  background-size: 100% 100%;
}

.call-to-action-text {
  font-family: "Copse", serif;
  font-size: 19px;
  line-height: 25px;
  font-weight: 400;
  color: #1C0000;
  margin: -10px 0 20px 0;
}

.MuiSlider-rail {
  color: #1C0000
}

.MuiSlider-valueLabel {
  font-family: "Copse", serif !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  background-color: #D3A10D !important;
  color: #1C0000 !important;
  border-radius: 5px !important;
  padding: 2px 5px !important;
}

.MuiSlider-markLabel {
  font-family: "Copse", serif !important;
  font-weight: 400 !important;
  font-size: 12px !important;
}

.MuiList-root {
  background: #EEE3C6 !important;
}

.MuiMenuItem-root {
  font-family: "Copse", serif !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  background: #EEE3C6 !important;
}

.MuiMenuItem-root:focus {
  background: #D3A10D !important;
}

.MuiMenuItem-root:active {
  background: #D3A10D !important;
}

.MuiMenuItem-root:hover {
  background: #cb9b0c !important;
}

.MuiSelect-select {
  font-family: "Copse", serif !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  padding: 5px 35px 5px 15px !important;
  width: 120px !important;
  background: #D3A10D !important;
}
